.display .content {
  height: 520px;
  margin-top: 250px;
  position: relative;
}

.display .content .text {
  position: absolute;
  /* top: 60px; */
  left: 100px;
  display: flex;
  flex-flow: column;
  /* height: 100%; */
  justify-content: center;
}

.display .content .text h2 {
  color: #fff;
  font-family: "Montserrat";
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 15px;
  ;
}

.display .content .text h1 {
  font-size: 70px;
  line-height: 65px;
  color: #fff;
  font-family: "Poppins";
}

.icon {
  display: flex;
  align-items: center;
  margin: 15px 0px 0px 60px
}

.icon .fa-location-dot {
  color: red;
  font-size: 30px;
  margin-right: 10px;
}

.icon p {
  color: #fff;
}

.display .content .button_container button {
  margin: 20px 0px 0px 40px;
  padding: 20px 30px;
  border-radius: 20px;
  background: #006fff;
  color: #fff;
  outline: none;
  border: none;
  transition: background .3s linear, color .3s ease;
}

.display .content .button_container button:hover {
  background: #fff;
  cursor: pointer;
}

.display .content .button_container button a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-family: "Poppins";

}

.display .content .button_container button:hover a {
  color: #006fff;
  display: flex;
}